{% extends "base.html" %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">QLP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
            </ul>
        </div>
    </nav>
    <div class="container py-5">
        {% block content %}{% endblock %}
    </div>
    <footer style="background-color: #f5f5f5;" class="py-3">
        <div class="container">
            <span class="text-muted">
                <a href="https://bitbucket.org/esmgquadrivium/q-portal">Source code</a>
            </span>
        </div>
    </footer>

{% endblock %}