{% extends "base_with_nav.html" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Your details</h2>
            <p>
                This are all your personal details that are stored in our database.
                If you want to update your personal details, send a mail to
                <a href="mailto:secretaris@esmgquadrivium.nl">secretaris@esmgquadrivium.nl</a>.
            </p>

        </div>
            {% for group, claim_values in grouped_claim_values %}
        <div class="col-lg-6 my-3">
                {% if group %}
                    <h5>{{ group }}</h5>
                {% endif %}
                <table class="table table-striped table-sm">
                    <tbody>
                    {% for claim, value in claim_values %}
                        <tr>
                            <th scope="row">{{ claim.friendly_name }}</th>
                            <td>{{ value }}</td>
                        </tr>
                        {% if claim.help_text %}
                            <tr>
                                <td colspan="2">
                                    <small class="text-muted">{{ claim.help_text }}</small>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
            {% endfor %}
    </div>
{% endblock %}